# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and editor files
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
