# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/
# Pipenv
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs-info/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.whl

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDE / Editor specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.log
*.pot
*.py[cod]
*.tmp
*.bak

# Environment variables
.env
*.env

# Test files
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,coverage
.tox/
.unittest
pytest-debug.log
